html {
    font-family: "IBM Plex Serif", serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Pridi", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.07ch;
    margin-top: 0;
    line-height: 1.2em;
}
p {
    line-height: 1.3em;
}
samp, code, pre, em.silly, .category {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
}
em.silly, dfn.category {
    font-style: normal;
}
.category {
    border: 1px solid;
    border-radius: 15px;
    padding: 2px 5px;
}
samp, code {
    background-color: #ddd;
    border-radius: 4px;
    padding: 0px 5px;
}
pre > samp, pre > code {
    display: block;
    white-space: pre-wrap;
}
